# Ignorar archivos de configuración
config.js
config.json

# Ignorar la carpeta de dependencias de Node.js
/node_modules

# Ignorar env
.env

# Ignorar el archivo de discloud
discloud.config

# Ignorar Gemini.md
gemini.md

# Ignorar example
gemini_full_example.js